.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 4rem;
}

.image img{
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.about{
    color: var(--color-primary-dark);
    padding: 6rem 2rem;
}

.about p {
    width: 80%;
    margin-bottom: 1.2rem;
}