body {
    background-image: url('/assets/images/background.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: var(--font-primary);
    color: var(--color-primary);
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}

h1{
    font-size: 10rem;
    font-weight: 400;
}

h2{
    font-size: 2rem;
    font-weight: 400;
}

.hero ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

.hero a{
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 500;
    font-size: 1.1rem;
}

.hero a:hover{
    color: var(--color-primary-hover);
}