@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
/* 
    Reset
    CSS Variables
    Typos
    Colors
    Body base 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: "Playfair Display", serif;
    --color-primary: #fcdae0;
    --color-primary-dark: #470238;
    --color-primary-hover: #d3586d;
    --color-primary-light: #d49bda;
    --nav-background: #38061f;
    --color-background: #ccb2c0;
    --background-about: #f7d7e8;
    --modal-text-primary: #535353;
    --modal-text-secondary: #858585;
}

body{
    font-family: var(--font-primary);
    color: var(--color-primary);
}